<div class="jumbotron">
    <h1>Creditsal project</h1>
    <p class="lead">Welcome to my little project to practice <b>ASP.NET CORE MVC</b> and <b>VS CODE</b></p>
    <p>This is an Credito Bank simulation that I calculate a credit to a customer based on his Age and Salary.</p>
    <p>You can use a tool like Postman for test it
        <br/><br/>GET
        <br/>$url/api/customers
        <br/><br/>POST
        <br/>api/credit/{name}/{creditRequestByUser}
        <br/>Example: $url/api/credit/Andrea Araujo/3000</p>
    <br/>
    <p>by Salomao</p>
</div>