<div class="jumbotron">
    <h1>Creditsal project</h1>
    <p class="lead">Welcome to my little project to practice <b>ASP.NET CORE MVC</b> and <b>ID VS CODE</b></p>
    <p>This is an Credito Bank simulation that I calculate a credit to a customer based on his Age and Salary.</p>
    @* <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p> *@

    <br/>
    <p>by Salomao</p>
</div>